<div class="container">

    <div class="jumbotron d-flex justify-content-between my-3" style="background-color: blue; color: white;">
        <h4 class="ps-3 pt-1">{{ role }}: {{ user }} <button class="ms-2 mt-1 btn btn-success" onclick="location.href='/api/products/admin'">Edit Products</button></h4>
        <button class="btn btn-danger" onclick="location.href='/logout'">LOGOUT</button>
    </div>

    <h4 class="fw-bolder text-center ps-3 my-5">Productos destacados</h4>

    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                {{#each products}}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-ms-12">
                        <div class="card mb-2">
                            <img src={{ thumbnail }}
                                class="card-img-top" alt="Img" />
                            <div class="card-body">
                                <div class=" d-flex justify-content-center">
                                    <h6 id="titleProduct{{@index}}">{{ title }}</h6>
                                </div>
                                <div class="">
                                    <p class="small"><a href="#" class="text-muted ">{{ category }}</a></p>
                                </div>
                                <div class="mb-2">
                                    <h6>{{ description }}</h6>
                                </div>
                                <div class="d-flex justify-content-between mb-3">
                                    <p class="text-muted mb-0">stock: <span id="stockSpan" class="fw-bold">{{ stock }}</span></p>
                                    <h6 class="text-dark mb-0">${{ price }}</h6>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div>
                                        <button id="btnSubstract{{@index}}">-</button>
                                        <span id="counterSpan{{@index}}">0</span>
                                        <button id="btnPlus{{@index}}">+</button>
                                    </div>
                                    <button class="ms-3" id="btnAddToCart" data-product-index="{{@index}}">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>

</div>

<script src="/js/cart.js"></script>